.idea/
.env
.DS_Store
scripts/
repo/
log/
logs/
config/
./jbot/
utils/.sign/
web/node_modules/
web/package-lock.json
web/pnpm-lock.yaml
web/yarn.lock
web/sessions/*.json
send_mark
bot.session
.pm2_list.log

/jbot
